.idea

Windows-Samples/.DS_Store
Windows-Samples/Tools & Utilities/.DS_Store
.DS_Store
IntelligenceSDK-Samples/AppAnalytics-Sample-App/Android/.idea/
IntelligenceSDK-Samples/AppAnalytics-Sample-App/Android/WSOAppAnalytics/app/gradle/wrapper/gradle-wrapper.jar
IntelligenceSDK-Samples/AppAnalytics-Sample-App/Android/WSOAppAnalytics/app/build.gradle
IntelligenceSDK-Samples/AppAnalytics-Sample-App/Android/WSOAppAnalytics/app/build.gradle
IntelligenceSDK-Samples/AppAnalytics-Sample-App/iOS/Crittercism_v5_9_1/
IntelligenceSDK-Samples/AppAnalytics-Sample-App/iOS/OptimizationProfiles/
API-Samples/CODE1458U API Samples/.vscode/launch.json
