{
    "ApiConfig":  {
                      "DeviceId":  "",
                      "OrganizationGroupId":  10170,
                      "Server":  "https://dev7.airwatchdev.com",
                      "ApiKey":  "/d5LTB9uIMmAgcBhvud0lp++ih4GbbBlw1WgGef1QJs=",
                      "ApiAuth":  "Basic Base64 YWpfYXBpX2FkbWluOmFqX2FwaV9hZG1pbg=="
                  }
}
